/* Import Google fonts - Josefin+Sans, Outfit, Source Code Pro, Rubik, Jersey 10, Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --blue: #2684ff;
  --lblue: #4f9bff;
  --light-blue: #87f7f1;
  --volt: #c8ff00;
  --dark-blue: #000102;
  --yellow: #e5dc15;
  --dark-yellow: #c2bb11;
  --bootstrap-dark: #212529;
  --bootstrap-lighter: #364459;
  --bootstrap-lightest: #96a4b3;
  --cyan: #01fff7;
  --light-red: #f02652;
  --gold: #ffc107;
  --creepy-green: #9cffd9;
  --creepy-green2:  #cefff4;
  --midnight: rgb(8, 29, 88);
  --flame: #ff3300;
  --flame2: #e5ff00;
  --flame3: #ff5e00;
  --asteroid-canvas: #15151F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Montserrat', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* ------- main header title --------*/

h1 {
  font-family: 'Audiowide', monospace;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: black;
}

.header {
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

ol, ul {
  color: white;
}

li {
  color:white;
}

/*---------------------------------------------------*/

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
  padding-bottom: 3rem !important;
}

p.lead.my-3 {
  color: white;
}

/* -----------------------*/

html,
body {
  height: 100%;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background-color: black;
  border-bottom: 1px solid rgb(59, 119, 197);
}

#root {
  border: var(--dark-blue) ridge 9px;
  margin: 0 auto;
  text-align: center;
height: 550px;
}

a {
  color: white;
  font-family: 'Source Code Pro';
}

a.back-link {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  display: inline-block;
}

div.container.my-1-9 {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: black;
  border: 4px solid var(--dark-blue);
}

/* bucket app ---------------------------------------------------------*/

.bucket-app {
  display: flex;
  flex-direction: row;
  /* Change to row to align items horizontally */
  justify-content: flex-start;
  width: 100%;
  background:  black;
  text-align: left;
  margin: 0 auto;
  background-color: black;
  border-top: var(--dark-blue) ridge 8px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: var(--dark-blue) ridge 8px;
  align-items: center;
  padding: 0;
  background: black;
  border: none;
  border-radius: 10px;
}

footer {
  border-top: var(--dark-blue) ridge 8px;
  background: black;
  width: 100%;
  border-radius: 10px;
}

a {
  text-decoration: none;
padding: 5px;
}

/* svg icons on contact page*/
a:hover {
  color: var(--cyan)!important;
}

/* ------ ---------- // NAV LINKS // ---------- ----------- */

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-link {
  background-color: black !important;
  color:   white !important;
  border: 2px solid var(--midnight) !important;
}

.nav-link.active {
  background-color: black !important;
  color: var(--cyan) !important;
  border: 2px solid var(--blue) !important;
  font-style: italic;
}

li.nav-item {
  min-width: 130px;
}
 

/* projects ---------------------------------------------------------*/

p {
  color: #ffffff;
}

/* Footer -------------------------------------------------------------- */

p.footer-text {
  color: white;
  margin-bottom: 3px;
  margin-top: 2px;
}

p.mb-0-1 {
  color: white;
}

/* content ------------------------------------------------*/

.jumbotron {
  padding: 2rem;
  margin: 0 auto;
  border: 1px solid #ffffff;
  background-color: black!important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

/* ================  Dropdown menu for subjects ========================== */

ol.nav.nav-tabs {
  list-style: decimal-leading-zero;
}

/* ================  ========================== */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ========================= media queries ======================== */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* media query for contact flex-box icons*/
@media screen and (max-width: 600px) {
  div.icon-container {
    flex-basis: 50%;
  }

  h1.jumbo-bg-dark-text {
    font-size: 20px;
  }

  h2.profile-text {
    font-size: 1.2rem;
  }
}

/* Small screens (mobile devices) */
@media screen and (max-width: 768px) {

  h1 {
    font-size: 32px;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-link {
    font-size: 14px;
  }


  h1 {
    margin: 16px 0;
    font-size: 36px;
  }

  h3 {
    font-size: 16px;
  }

  p.separator {
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
  }

  a.a-title {
    margin: 10px;
  }

  .icons {
    font-size: 20px;
  }

  form {
    width: 90%;
    margin: 0 auto;
  }

  .form-container button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Medium screens (tablets) */
@media screen and (max-width: 1023px) and (min-width: 768px) {

  main.mx-3 {
    margin: 0 10px;
  }

  form {
    width: 85%;
  }

  .form-container button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Large screens (desktops and laptops) */
@media screen and (min-width: 1024px) {

  div.icon-container {
    justify-content: center;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
      width: 180px; /* Narrowed width when window is minimized */
  }
  .aside.sidebar {
width: 180px;
  }
}
 